body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    background-color:hsl(235, 21%, 11%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container{
    width: 1440px;
    color: hsl(234, 39%, 85%);
}

.container > img{
    width: 100%;
    /* margin-left: 2rem; */
    margin-right: 2rem;
    position: static;
    z-index: 0;
    top: 0;
}

.content{
    position: absolute;
    z-index: 9999;
    top: 5rem;
    margin-left: 25rem;
    /* margin-right: 30rem; */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 35rem;
}

/* 标题 */
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title > h1{
    font-weight: 700;
    font-size: 1.7em;
    color: #ffffff;
}

.title > img{
    height: 50%;
    cursor: pointer;
}

/* 主体内容 */
.content-template{
    background-color: hsl(235, 24%, 19%);
    overflow: hidden;
    height: 3em;
    display: flex;
}

.input-box {
    background-color: transparent;
    height: 2.5em;
    width: 80%;
    border-style: none;
    outline-style: none;
    margin-left: 1.5em;
    margin-top: 0.4em;
    color: hsl(234, 39%, 85%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
}

.input-box:focus::placeholder{
   color: transparent;
}

.todo-content{
    margin-top: 2em;
}

ul {
    list-style: none;
    margin: 0;
    background: #ffffff;
    padding: 0;
}

li{
    position: relative;
    border-bottom: 0.01em solid hsl(234, 11%, 52%);
    cursor: pointer;
}

input[type="checkbox"]{
    align-self: center;
    margin-left:2em;
    width: 1.7em;
    height: 1.7em;
    border: 0.1em solid hsl(234, 11%, 52%);
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
}

input[type="checkbox"]::before{
        border-radius: 50%;
        content: '';
        background-color: #5562eb;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
}

.done input[type="checkbox"] {
    background: url(./images/icon-check.svg) no-repeat 50% 50% ,linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}

.done  label {
      text-decoration: line-through;
      color: hsl(0, 0%, 70%);
    }

input[type="checkbox"]:hover {
    border: 0.1em solid hsl(280, 87%, 65%);
    }

input[type="checkbox"]::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.new-add > label{
    height: 2em;
    margin-left: 2em;
    margin-top: 1.1em;
}

.delete-button{
    background-color: transparent;
    border:none;
    position: absolute;
    margin-left: 32em;
    margin-top: 1.3em;
    cursor: pointer;
}

.delete-button > img{
    display: none;
    float: left;
}

.new-add:hover  img{ 
    display: block;
    pointer-events: none;
 }

/* 拦末设置行 */
.setup{
    background-color: hsl(235, 24%, 19%);
    font-size: 0.8em;
    color: hsl(234, 11%, 52%);
}

.notes{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    width: 100%;
    align-items: center;
    margin: 0 2em;
}

.notes > .count{
   width: 0.5em;
}

.sort{
    position: absolute;
    margin-left: 30%;
    z-index: 10;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.setup  button{
    background-color: transparent;
    border: none;
    color: hsl(234, 11%, 52%);
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}

.setup button:hover{
    color: hsl(0, 0%, 98%);
}

.sort  button:focus{
    color: #5562eb;
}


/* 更换模式 */
.light-theme .container{
    width: 1440px;
}

.light-theme .content-template{
    background-color: hsl(0, 0%, 98%);
    overflow: hidden;
    height: 3em;
    display: flex;
    color: hsl(235, 19%, 35%);
}

.light-theme .setup button:hover{
    color: hsl(235, 19%, 35%);
}